<div ng-controller="chatController">
    <div ng-style="lastfeedStyle()" chatresize>    
        <div class="list-group">
            <a ng-repeat="action in userActions" href="#" class="list-group-item">Vestibulum at eros</a>   
        </div>
    </div>
    <div class="divider">&nbsp;</div>
    <div ng-style="chatStyle()" chatresize>
        <div class="list-group">  
            <a href="javascript:" ng-repeat="user in onlineUsers" ng-click="openChat(user)" class="list-group-item">Dapibus ac facilisis in = {{user}}</a>  
        </div>
    </div>
    
    
    
    
    
    
</div>