
<div class='row'>&nbsp;</div>


<div class="row" id="userList" style="display: block;">
    <!-- ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/90.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">katrina</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/men/70.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">frederick</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/25.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">tiffany</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/56.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">miriam</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/54.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">bobbie</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/74.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">kathy</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/87.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">diana</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/men/76.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">melvin</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/men/10.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">rafael</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/men/85.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">austin</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/53.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">savannah</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/men/55.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">brayden</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/men/71.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">andy</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/men/10.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">floyd</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/86.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">michelle</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/2.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">peggy</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/32.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">gail</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/77.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">melissa</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/men/83.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">edward</h3>
      <hr>
    </div><!-- end ngRepeat: u in users --><div   class="col-xs-4 col-sm-2 ng-scope">
      <a href="" ng-click="showUserModal($index)"><img src="http://api.randomuser.me/portraits/women/36.jpg" class="img-thumbnail img-responsive img-circle"></a>
      <h3 class="text-center ng-binding">catherine</h3>
      <hr>
    </div><!-- end ngRepeat: u in users -->
  </div>